/* --- Header --- */
/* Taken from https://www.w3schools.com/howto/howto_css_two_columns.asp */
.author {
    font-size: 20px;
    float: left;
    width: 25%;
}

.author h3, .author h5 {
    margin-top: 4px;    /* Reduces the space above each h3 and h5 tag */
    margin-bottom: 4px; /* Reduces the space below each h3 and h5 tag */
}

.authors:after {
    content: "";
    display: table;
    clear: both;
}

/* I have to use `pre` here for the tabs */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
}

/* This ensures the two images' heights are the same even with different widths */
table img {
    height: 300px; /* Adjust this value to whatever height you want */
    width: auto; /* This will maintain the aspect ratio of the images */
}

/* This adds a box around each paragraph because it looks nice. */
pre + p {
    border: 2px solid #ccc;  /* Solid grey border, you can customize the color and style */
    padding: 10px;          /* Adds padding inside the border */
    margin-top: 20px;       /* Adds a top margin for spacing from the header */
    margin-bottom: 20px;    /* Adds a bottom margin for spacing */
}

/* Set up the font for the main text */
p {
    /* Adds paragraph indenting */
    margin-bottom: 1em;
    font-size: 20px;
}

/* --- Page Content --- */
.subsection {
    tab-size: 35px;

}

/* --- Misc. --- /*
/* Print specific styles so that the website generates a 2-column PDF */
@media print {
    body {
        width: 100%;
        columns: 2;            /* Creates a two-column layout for printing */
        column-gap: 20px;      /* Sets the gap between columns */
    }

    .author {
        break-inside: avoid;        /* Avoids breaking the content of each author block across columns */
        page-break-inside: avoid;   /* Avoids breaking the content of each author block across pages */
    }
}
